
#chartdiv {
    width   : 100%;
    height    : 500px;
    font-size : 11px;
}                            
.card{
    margin: 30px;
    padding: 20px 30px;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888be;
}
.card h1{
    text-align: center;

}
.blue{
    color: #FCA1AE;
    text-align: center;
    position:relative;
}
.blue>div{
    display: flex;
    justify-content: center;
}
.blue p{
    color: gray;
}
.blue h1{
    font-size: 3em;
    font-weight: bolder;
}
.blue img{
    width: 80px;
    height: 80px;
    padding-right:30px;
}

table {
    border-spacing: 1;
    border-collapse: collapse;
    /* background: #f4f9ff; */
    background: white;
    border-radius: 15px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;

}
table thead tr {
    height: 60px;
    background: #FCA1AE;
}
table tbody tr {
    height: 48px;
    border-bottom: 1px solid #FCA1AE;
}
table tbody tr:last-child {
    border: 0;
}
tr,th{
    text-align: center;
}
.food {
    width: 30px;
    height: 30px;
    padding-right: 5px;
}
